<% provide :title do %><%= t('budgets.investments.index.title') %>
<% end %>

<% content_for :canonical do %>
  <% if @heading.present? %>
    <%= render "shared/canonical",
               href: budget_investments_url(@budget,
                                            heading_id: @heading.id,
                                            filter: @current_filter) %>
  <% else %>
    <%= render "shared/canonical", href: budget_investments_url(@budget) %>
  <% end %>
<% end %>

<main id="budget-investments-main" data-tabs-content="custom_phases_tabs">

  <div class="custom-phases-nav">
    <div class="main-indented-content">
      <ul class="tabs" id="custom_phases_tabs"
          data-deep-link="true"
          data-update-history="true"
          data-deep-link-smudge="true"
          data-deep-link-smudge-delay="500"
          data-tabs>
        <% @custom_phases.each do |_, phase| %>
          <% if phase.enabled %>
            <li class="tabs-title <%= 'is-active active-phase' if phase.url %>">
              <%= link_to "#tab-#{phase.kind}" do %>
                <h3><i></i><%= t("custom.headings.#{phase.kind}") %></h3>
                <span><%= l phase.starts_at.to_date, format: :shortish %>&nbsp;&dash;&nbsp;<%= l phase.ends_at.to_date, format: :shortish %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>


  <% @custom_phases.each do |_, phase| %>
    <% if phase.enabled %>

      <div class="tabs-panel <%= 'is-active' if phase.url %>" id="tab-<%= phase.kind %>">
        <% if phase.url %>
          <div class="main-indented-content">
            <%= render '/budgets/investments/header' %>

            <div class="row budget-investments">
              <h2 class="phase-title"><%= t('custom.titles.added_proposals') %></h2>

              <%= render('shared/order_links', i18n_namespace: "budgets.investments.index") unless @current_filter == "unfeasible" %>

              <div>
                <%= render 'budgets/investments/categories' %>
                <% if @budget.headings.count > 1 %>
                  <%= render 'budgets/investments/districts' %>
                <% end %>
              </div>

              <div class="row small-up-1 medium-up-1 large-up-3">
                <% @investments.each_with_index do |investment, index| %>
                  <% investment_class = 'column column-block budget-investment-holder' %>
                  <% investment_class = investment_class + ' last-in-row' if (index != 0 && (index + 1) % 4 == 0) %>
                  <div class="<%= investment_class %>">
                    <%= render partial: '/budgets/investments/investment',
                               locals: {
                                 investment: investment,
                                 investment_ids: @investment_ids,
                                 investment_votes: @investment_votes,
                                 ballot: @ballot
                               } %>
                  </div>
                <% end %>
              </div>

            </div>

            <div class="row">
              <%= paginate @investments %>
            </div>
          </div>
        <% else %>

          <%= raw(phase.description) %>


          <div class="landings">
            <div class="row bggray">
              <div class="main-indented-content">
                <div class="small-12 medium-9 medium-centered text-center">
                  <h2>Glasuj!</h2>
                  <p>
                    Med 25. 3. in 25. 4. neposredno soodločaj o porabi 5 % proračunskih sredstev občine Hrpelje-Kozina.
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="main-indented-content qs">
                <div class="column small-12 medium-6">
                  <div class="medium-8 medium-centered js-padt">
                    <h2>Kaj?</h2>
                    <p>
                      Med vsemi oddanimi predlogi izberi tiste, za katere si najbolj želiš, da bi bili uresničeni.
                    </p>
                  </div>
                </div>
                <div class="column small-12 medium-6">
                  <div class="medium-centered">
                    <img src="/assets/custom/phases/kaj.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="row bggray">
              <div class="main-indented-content qs">
                <div class="column small-12 medium-6">
                  <div class=" medium-centered">
                    <img src="/assets/custom/phases/kdo.png">
                  </div>
                </div>
                <div class="column small-12 medium-6">
                  <div class="medium-8 medium-centered js-padt">
                    <h2>Kdo?</h2>
                    <p>
                      Glasuje lahko vsakdo s stalnim
                      prebivališčem v občini Hrpelje-Kozina, star vsaj 16 let.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="main-indented-content qs">
                <div class="column small-12 medium-6">
                  <div class="medium-8 medium-centered js-padt">
                    <h2>Kako?</h2>
                    <p>
                      Poleg spletnega je možno tudi glasovanje na papirju, in sicer med 1. 4. in 25. 4. v prostorih
                      občine na Ulica xy 1, Hrpelje-Kozina.
                    </p>
                  </div>
                </div>
                <div class="column small-12 medium-6">
                  <div class="medium-centered">
                    <img src="/assets/custom/phases/kako.png">
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
</main>
