<!--TODO: back link-->
<div class="budget-investment-new row">
  <div class="small-12 medium-8 column">
    <h1><%= t("management.budget_investments.create") %></h1>

    <%= render '/budgets/investments/form', form_url: budget_investments_path(@budget) %>
  </div>
  <div class="small-12 medium-4 column">
    <span class="icon-proposals float-right"></span>
    <h2><%= t("proposals.new.recommendations_title") %></h2>
    <ul class="recommendations">
      <li><%= t("proposals.new.recommendation_one") %></li>
      <li><%= t("proposals.new.recommendation_two") %></li>
      <li><%= t("proposals.new.recommendation_three") %></li>
    </ul>
  </div>
</div>
