<footer>
  <div class="bgblue">
    <div class="row loginlinks ">
      <div class="main-indented-content clearfix">
      <div class="small-12 large-6 column">
        <ul class="no-bullet inline-block footer-links">
          <%= render "devise/menu/login_items" %>
        </ul>
      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="main-indented-content clearfix">
    <div class="small-12 large-6 column ">
      <h1 class="logo"></h1>
    </div>

    <!--    TODO: dynamic image-->
    <%#= image_tag(image_path_for('logo_header.png'), class: 'float-left', alt: t("layouts.header.logo")) %>

    <div class="small-12 large-6 column links-holder">
      <ul class="no-bullet inline-block footer-links">
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path('privacy') %>&nbsp;&nbsp;|&nbsp;</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path('conditions') %>&nbsp;|&nbsp;</li>
        <% if setting['blog_url'] %>
          <li class="inline-block">
            <%= link_to t("layouts.header.external_link_blog"),
                        setting['blog_url'],
                        target: "_blank",
                        rel: "nofollow",
                        title: t("shared.go_to_page") + t("layouts.header.external_link_blog") + t('shared.target_blank_html') %>&nbsp;|&nbsp;
          </li>
        <% end %>
        <li class="inline-block">
          <%= layout_menu_link_to t("layouts.header.help"),
                                  help_path,
                                  current_page?(help_path),
                                  accesskey: "6",
                                  title: t("shared.go_to_page") + t("layouts.header.help") %>
        </li>
      </ul>
    </div>
  </div>
  </div>
</footer>
