<header>

  <div class="top-links">
      <div class="hide-for-small-only">
        <%= render "shared/top_links" %>
      </div>
  </div>

  <div class="row">
    <div class="top-bar">

      <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
        <%= t("application.menu") %>
      </span>

      <div class="top-bar-title">
        <%= link_to root_path, accesskey: "0", class: 'site-title' do %>
          <%= t("seeds.budgets.budget") %>
        <% end %>
      </div>

      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="menu" data-responsive-menu="medium-dropdown">
            <li>
              <%= layout_menu_link_to t("layouts.header.help"),
                                      help_path,
                                      current_page?(help_path),
                                      accesskey: "6",
                                      title: t("shared.go_to_page") + t("layouts.header.help") %>
            </li>
<!--            TODO: notifications-->
            <%= render "layouts/notification_item" %>
            <%= render "devise/menu/login_items" %>
          </ul>

          <!--          TODO: mobile -->
          <div class="show-for-small-only">
            <div class="subnavigation row">
              <%#= TODO: render "shared/subnavigation" %>
              <div class="small-12 column">
                <%= render "shared/top_links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
