<!DOCTYPE html>
<html lang="es">
<head>
  <%= render "layouts/common_head" %>
  <%= render "layouts/meta_tags" %>
</head>

<body class="auth-page">
<div class="wrapper">
  <div class="small-12 column">
    <div class="row">
      <div class="small-12 large-6 small-centered column">
        <%= link_to root_path, accesskey: "0", class: 'page-title' do %>
          <h1><%= t("seeds.budgets.budget") %></h1>
        <% end %>
        <div class="auth-form margin">
          <div class="auth-form-content">
            <%= render 'layouts/flash' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
