<% provide :title do %><%= t("pages.titles.conditions") %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row conditions main-indented-content">

  <div class="small-12 medium-7 column">
    <h1><%= t("pages.conditions.title") %></h1>
    <h2><%= t("pages.conditions.subtitle") %></h2>
    <p><%= t("pages.conditions.description") %></p>
  </div>
</div>
