<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags", social_url: root_url %>
<% end %>

<main>
  <article class="welcome-columns">
    <% if current_budget.present? %>
      <% @custom_phases.each do |_, phase| %>
        <% if phase.enabled %>
          <section class="welcome-column <%= phase.kind %>">
            <% if phase.url %>
              <a class="linkable" href="<%= phase.url %>">
            <% end %>
            <div class="column-content">
              <h1><%= t("custom.headings.#{phase.kind}") %>!</h1>
              <h2><%= strip_tags(phase.summary) %></h2>
              <p class="large-description"><%= strip_tags(phase.description) %></p>
              <% if phase.url %>
                <span class="action-button large">
                  <%= t("devise_views.sessions.new.submit") %>
                  <!-- TODO: icon-->
                </span>
              <% end %>
            </div>
            <div class="enrichment"></div>
            <% if phase.url %>
              </a>
            <% end %>
          </section>
        <% end %>
      <% end %>
    <% else %>
      <section class="welcome-column">
        <h2 style="text-align: center;">TODO: NO BUDGET (no budget or drafting) SCREEN! ups</h2>
      </section>
    <% end %>
  </article>
</main>
