<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags", social_url: root_url %>
<% end %>

<main>
  <article class="welcome-columns">
    <% if current_budget.present? %>
      <% @custom_phases.each do |_, phase| %>
        <% if phase.enabled %>
          <section class="welcome-column">
            <h2><%= t("custom.headings.#{phase.kind}").upcase %></h2>
            <p><%= strip_tags(phase.summary) %></p>
            <p><%= strip_tags(phase.description) %></p>
            <% if phase.url %>
              <a href="<%= phase.url %>">TODO: LINK TO LIST OF PROJECTS</a>
            <% end %>
          </section>
        <% end %>
      <% end %>
    <% else %>
      <section class="welcome-column">
        <h2 style="text-align: center;">TODO: NO BUDGET (no budget or drafting) SCREEN! ups</h2>
      </section>
    <% end %>
  </article>
</main>
